In [51]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import SnowballStemmer
from nltk.tokenize import RegexpTokenizer
from tqdm import tqdm
import pickle

In [44]:
file = pd.read_csv('Reviews.csv')

In [45]:
file.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [46]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id                      568454 non-null  int64
 1   ProductId               568454 non-null  object
 2   UserId                  568454 non-null  object
 3   ProfileName             568438 non-null  object
 4   HelpfulnessNumerator    568454 non-null  int64
 5   HelpfulnessDenominator  568454 non-null  int64
 6   Score                   568454 non-null  int64
 7   Time                    568454 non-null  int64
 8   Summary                 568427 non-null  object
 9   Text                    568454 non-null  object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

In [47]:
file.isna().sum()

Id                         0
ProductId                  0
UserId                     0
ProfileName               16
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   27
Text                       0
dtype: int64

In [48]:
columns = ['ProductId', 'Text']
file = file[columns]

In [49]:
file.head()

    ProductId                                               Text
0  B001E4KFG0  I have bought several of the Vitality canned d...
1  B00813GRG4  Product arrived labeled as Jumbo Salted Peanut...
2  B000LQOCH0  This is a confection that has been around a fe...
3  B000UA0QIQ  If you are looking for the secret ingredient i...
4  B006K2ZZ7K  Great taffy at a great price.  There was a wid...

In [ ]:
def clean_text(text):
    words = word_tokenize(text)    
    filtered_words = []
    for word in words:        
        if word.lower() not in stop_words and word.isalpha():
            filtered_words.append(lemmatizer.lemmatize(word.lower()))
    return filtered_words

In [53]:
tokenizer = RegexpTokenizer(r'[a-z]+') 
stop_words = set(stopwords.words("english"))
stemmer= SnowballStemmer("english") # PorterStemmer 
new_text = []
for text in tqdm(file['Text']):
    words=tokenizer.tokenize(text.lower())
    tokens_without_sw = [stemmer.stem(word) for word in words if word not in stop_words]
    new_text.append(tokens_without_sw)

100%|██████████| 568454/568454 [06:32<00:00, 1446.72it/s]

In [54]:
file['Text_snow'] = new_text

In [55]:
# STARE ATTENTI A RUNNARE SOLO UNA VOLTA
# save new dataframe to pickle
# MANTENIAMO LA COLONNA DI TEXT VECCHIA
with open('file_snowball.pkl', 'wb') as handle:
    pickle.dump(file, handle)

In [58]:
# open new dataframe to pickle
with open('file_snowball.pkl', 'rb') as handle:
    new_file_snow = pickle.load(handle)

In [59]:
df_snow = new_file_snow[['ProductId', 'Text_snow']]

In [56]:
df = new_file[['ProductId', 'Text_stem']]

In [66]:
len(df_snow['Text_snow'][1000])

13

In [67]:
len(df['Text_stem'][1000])

13